bootstrap4
CairoSVG
celery
Django
django-celery-beat
django-celery-email
django-celery-results
django-crispy-forms
django-debug-toolbar
django-timezone-field
gunicorn
Pillow
WeasyPrint
mysqlclient
pymemcache
crispy-bootstrap4