{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <h4 class="border-bottom mb-4">Separated Staff</h4>
        <div class="table-responsive">
            <p id="date_filter">
                <strong><small><span id="date-label-from"
                                     class="date-label">Terminated From: </span></small></strong><input
                    class="date_range_filter date"
                    type="text" id="datepicker_from" placeholder="dd/mm/yyyy"/>
                <strong><small><span id="date-label-to"
                                     class="date-label">Terminated To: </span></small></strong><input
                    class="date_range_filter date" type="text"
                    id="datepicker_to" placeholder="dd/mm/yyyy"/>
            </p>
            <table id="table_id" class="display table table-sm table-striped table-bordered w-100">
                <caption class="border-bottom mb-4">Separated Staff</caption>
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Job Title</th>
                    <th>ID Number</th>
                    <th>Email</th>
                    <th>Mobile No</th>
                    <th>Department</th>
                    <th>Exit Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in object_list %}
                    <tr>
                        <td>{{ employee.user.get_full_name }}</td>
                        <td>{{ employee.job_title }}</td>
                        <td>{{ employee.id_number }}</td>
                        <td>{{ employee.user.email }}</td>
                        <td>{{ employee.mobile_number }}</td>
                        <td>{{ employee.department }}</td>
                        <td>{{ employee.termination_report.exit_date }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'users:reactivate_employee' pk=employee.pk %}">REACTIVATE</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    <script>

         // Date range filter
        minDateFilter = "";
        maxDateFilter = "";

        $.fn.dataTableExt.afnFiltering.push(
            function (oSettings, aData, iDataIndex) {
                if (typeof aData._date == 'undefined') {
                    aData._date = new Date(aData[6]).getTime();
                }

                if (minDateFilter && !isNaN(minDateFilter)) {
                    if (aData._date < minDateFilter) {
                        return false;
                    }
                }

                if (maxDateFilter && !isNaN(maxDateFilter)) {
                    if (aData._date > maxDateFilter) {
                        return false;
                    }
                }

                return true;
            }
        );

        $(document).ready(function() {
            let terminatedEmployeeTable = $('#table_id').DataTable( {
                dom: 'lBfrtip',
                scrollX: true,
                scrollCollapse: true,
                autoWidth: true,
                paging: true,
                buttons: [
                    'copy', 'csv', 'excel',
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                    },
                    'print'
                ]
            } );

            $("#datepicker_from").datepicker({
                showOn: "button",
                buttonImage: "https://www.w3resource.com/w3r_images/datepicker2.png",
                buttonImageOnly: false,
                "onSelect": function (date) {
                    minDateFilter = new Date(date).getTime();
                    terminatedEmployeeTable.draw();
                }
            }).keyup(function () {
                minDateFilter = new Date(this.value).getTime();
                terminatedEmployeeTable.draw();
            });

            $("#datepicker_to").datepicker({
                showOn: "button",
                buttonImage: "https://www.w3resource.com/w3r_images/datepicker2.png",
                buttonImageOnly: false,
                "onSelect": function (date) {
                    maxDateFilter = new Date(date).getTime();
                    terminatedEmployeeTable.draw();
                }
            }).keyup(function () {
                maxDateFilter = new Date(this.value).getTime();
                terminatedEmployeeTable.draw();
            });
        } );
    </script>
{% endblock scripts %}